<!DOCTYPE html>
<html>
<head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
      <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
      <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
      <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
      <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
      <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
      <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
      <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
      <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css">
      <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="../static/css/util.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
      <!--===============================================================================================-->
      </head>

<body>
  <div class="limiter">
    <div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
<h2>Registro</h2>

<form action="/registro_ok" method="POST">
  <label for="fname">Usuario</label><br>
  <input type="text" id="fname" name="username" ><br>
  <label for="lname">Contraseña</label><br>
  <input type="text" id="lname" name="pwd" ><br>
  <label for="lname">Nombre</label><br>
  <input type="text" id="lname" name="name" ><br>
  <input type="submit" value="Submit">
</form>
    </div>
    </div>



</body>
</html>
